html {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-size: 16px;
    font-style: normal;
    font-weight: normal;
    color: #ffffff;
    background-color: #333333;
    margin: 0 auto;
    font-family: 'Oswald', sans-serif;
    overflow-x: hidden;
}
.offset:before {
    height: 3.9rem;
    margin-top: -3.9rem;
    content: "";
    display: block;
}
h1 {
    color: #ffffff;
    text-shadow: 1px 2px 2px rgba(51,51,51,0.91);
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
}
.display-3 {
    font-weight: 700;
}
h2 {
    color: #ffffff;
    font-size: 35px;
    line-height: 2.5rem;
    font-weight: 800;
    text-shadow: 1px 2px 2px rgba(51,51,51,0.91);
  }
h3 {
    color: #ffffff;
    font-size: 20px;
    line-height: 1.5rem;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    text-shadow: 1px 2px 2px rgba(51,51,51,0.91);
}
h5 {
    font-family: 'Oswald', sans-serif;
}
.text-muted {
    color: #928f8f!important;
}

.site-header {
    margin: 0 auto;
    background-image: url(img/bg-home-1.jpg);
    height: 600px;
    background-position: center;
    background-size: cover;
  }
.text-header {
    padding-top: 200px;
}
.navbar {
    background: rgb(0, 0, 0, .6)!important;
    text-transform: uppercase;
    font-weight: 700;
    font-size: .9rem;
    letter-spacing: .1rem;
}
.navbar-nav li {
    padding-right: .7rem;
}
.navbar-dark .navbar-nav .nav-link {
    color:#ffffff;
    padding-top: .8rem;
}
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover {
    color:#e81127;
}
.dropdown-menu {
    background: rgb(0, 0, 0, 10)!important;
    color:#fff;
}
.dropdown-item a:hover {
    color: #000;
}

.carousel-item {
    height: 100vh;
    background-size: cover;
}
.carousel-caption {
    position: absolute;
    top:38%;
    text-transform: uppercase;
    width: 100%;
    right: 0;
    left: 0;
}
.carousel-caption h1 {
    font-size: 3.8rem;
    font-weight: 700;
    letter-spacing: .1rem;
    text-shadow: .1rem .1rem .8rem black;
    padding-bottom: 1rem;
}
.carousel-caption h3 {
    font-size: 2rem;
    text-shadow: .1rem .1rem .5rem black;
    padding-bottom: 1.6rem;
}
.btn-lg {
    border-width: medium;
    border-radius: 5;
    font-size: 1.1rem;
}

.form-control {
    background-color: #ffffff2e;
    color: #ffffff;
}

.card {
    background-color: #666666;
    transition: transform .5s ease;
    overflow: hidden;
    margin-top: 2rem;
}
.card img {
    width: 100%;
    height: 350px;
}
.card:hover {
    transform: scale(1.1);
    cursor: zoom-in;
}
.card-body{
    background-color: #484747;
}
.color-label {
    color: black;
}
.margin-input {
    margin-bottom: 18px;
}
.modal-title {
    color: black;
}
.button-home {
    display: flex;
    justify-content: flex-end;
    margin-right: 13px;
    margin-top: 13px;
}

footer {
    background-color: #2E2E2E;
    color:#ffffff;
    padding: 1rem 0 1rem;
    margin-top: 1rem;
}

footer img {
    height: 3rem;
    margin: 1.5rem 0;
}
footer a {
    color: #ffffff;
}
footer svg.svg-inline--fa {
    font-size: 1.6rem;
    margin:1.2rem .5rem 0 0;
}
footer svg.svg-inline--fa {
    color: #e81127;
}
hr.socket {
    border-top: .2rem solid #464545;
    width: 100%;
}
.button{
    display: flex;
}
main {
    margin-top: 130px;
}
.letter-color {
    color: #e81127 !important;
}
/*Utilities*/
.container {
    width: 98%;
    margin: 0 auto;
    padding: 50px 0 50px 0;
  }
 
  .center-text {
    text-align: center;
    max-width: 700px;
    margin: 15px auto 10px;
  }

  .btn-info {
    color: #fff;
    background-color: #e81127;
    border-color: #e81127;
}

/*Responsive*/
@media only screen and (max-width:767px) {
    .carousel-caption h1 {
        font-size: 2.3rem;
        letter-spacing: .15rem;
        padding-bottom: .5rem;
    }
    .carousel-caption h3 {
        font-size: 1.2rem;
        padding-bottom: 1.2rem;
    }
    .btn-lg {
        font-size: 1rem;
    }
    .carousel-item {
        background-size: cover;
        background-position: center center;
    }
    main {
        margin-top: 0px;
    }
}
